* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.btn {
  max-width: 210mm;
  margin: 20px auto;
}

.btn-primary {
  padding: 8px;
  border-radius: 3px;
  border-color: #0a58ca;
  color: #ffffff;
  background-color: #0b5ed7;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

